body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

input::placeholder {
  color: gray;
}
textarea::placeholder {
  color: gray;
  font-family: sans-serif;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.logos  {

  height: 50px;
  width: 50px;
}

.landing {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.logo {
  height: 50px;
  width: 175px;
}

#light {
  background-color: white;
}

#dark {
  background-color: #1F2525;
}

textarea {
  width: 600px;
  height: 50px;
}

form {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.topPhoto{
  width:400px;
  height:auto
}

.landingVideo {
  position: absolute;
  z-index: -2;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  object-fit: cover;
}

.landingLogo {
  position: absolute;
  top: 32%;
  left: 44%;
  height: 70px;
  width: auto; 

}

.login-button {
  position: absolute;
  top: 41%;
  left: 45.5%;
}

.login-page {
  overflow: hidden;
}

.addform {
  box-sizing: border-box;
  width: 550px;
  padding: 20px;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 20px;
}

.shareform {
  box-sizing: border-box;
  width: 580px;
  padding: 20px;
  margin: 0.5rem;

}

.title {
  padding: 7px;
  margin: 5px;
  width: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.title:focus, .location:focus, select:focus, textarea:focus {
  background-color: aliceblue;
}

.location {
  width: 300px;
  padding: 7px;
  margin: 5px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url('locate.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

select {
  border: none;
  border-bottom: 1px solid black;
  width: 300px;
  padding: 7px;
  margin: 5px;
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid black;
  width: 500px;
  padding: 7px;
  margin: 10px;
  outline: none;
}


/* CSS */
.reviewbutton {
  margin:3px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.reviewbutton:disabled {
  pointer-events: none;
}

.reviewbutton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.reviewbutton:active {
  box-shadow: none;
  transform: translateY(0);
}

.edit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}



 .navigation {
	 position: fixed;
   margin-top: 100px;
   margin-left: 30px;
	 height: 400px;
	 width: 280px;
	 background-color: RGB(253, 0, 25,0.8);
	 overflow-x: hidden;
	 transition: width 0.5s;
	 box-shadow: 15px 20px 0px #BD6B73, -15px -20px 0px #B9314F;
   left:0
}
 .navigation ul {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 padding-top: 10px;
}
 .navigation ul li {
	 position: relative;
	 list-style: none;
	 width: 90%;
	 padding-left: 30px;
}

 .navigation ul li.active::after {
	 transform: translateY(-10%) scaleX(1);
	 opacity: 1;
}
 .navigation ul li a {
	 position: relative;
	 display: flex;
	 text-decoration: none;
	 width: 100%;
	 color: #ffffff;
}
 .navigation ul li a .icon {
	 margin-left: 10px;
	 position: relative;
	 display: block;
	 height: 60px;
	 line-height: 65px;
	 text-align: center;
}
 .navigation ul li a .icon ion-icon {
	 position: relative;
	 font-size: 1.5em;
	 z-index: 1;
	 font-weight: 500;
}
 .navigation ul li a .title {
	 position: relative;
	 display: block;
	 padding-left: 30px;
	 height: 60px;
	 line-height: 60px;
	 font-size: 18px;
	 font-weight: 500;
	 white-space: nowrap;
} 

#singleImage {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#singlePlace{
  margin:auto;
  width:50%;
  padding:30px;
  font-size: 60px;
  text-align: center;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


@import url("https://fonts.googleapis.com/css?family=Montserrat:600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: "Montserrat", sans-serif;
  animation: backgroundAnimation 10s ease infinite;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.profile {
  animation: loadProfile 0.6s ease-in-out;
  animation-fill-mode: both;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 550px;
  min-width: 900px;
}

.profile-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  background: white;
  box-shadow: 0 30px 50px -20px rgba(14, 0, 47, 0.21);
  width: calc(100% - 75px);
  height: calc(100% - 110px);
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
} 

.profile-image {
  animation: loadProfileImage 1s ease-in-out 0.5s;
  margin-left: 150px;
  animation-fill-mode: both;
  position: relative;
  border-radius: 10px;
  width: 45%;
  flex: none;
  background-image: url("https://unsplash.com/photos/jrWoDRmhwRY");
  background-size: cover;
  background-position: center;
}

.profile-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.8;
  mix-blend-mode: screen;
}



.profile-info {
  margin-top: 120px;
  padding: 8% 8% 2% 8%;
  position: relative;
}

.profile-info h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0.7rem;
  position: absolute;
  animation-fill-mode: both;
}

h1.first-name {
  animation: titleEffect 1s cubic-bezier(0,0.2,0.4,1);
  top: -115px;
  left: -85px;
} 

h1.second-name {
  animation: titleEffect 1s cubic-bezier(0,0,0.3,1);
  top: -50px;
  left: -45px;
}

.profile-info h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-top: 0;
  margin-bottom: 5%;
}

.social-media-icons a,
.profile-info h2 {
  color: #13547a;
}

.profile-info p {
  line-height: 1.5rem;
}

.social-media-icons {
  display: flex;
}

.social-media-icons a {
  margin-top: 7%;
  font-size: 1.2rem;
  flex: auto;
  text-align: center;
}

.camera,
.social-media-icons a {
  transition: text-shadow 0.5s ease;
}

.camera:hover,
.social-media-icons a:hover {
  text-shadow: 0px 5px 15px rgba(255, 0, 47, 0.45);
}

.statistics {
  margin-right: 10px;
  margin-left: 10px;
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statistics p {
  margin: 3%;
  flex: auto;
  color: #13547a;
}

.statistics p strong {
  font-size: 1.4rem;
  color: #000;
  font-weight: 200;
  margin-right: 0.3rem;
}

.icon {
  background: transparent no-repeat center;
  background-size: contain;
  background-origin: content-box;
  width: 60px;
  height: 60px;
  padding: 15px;
  border: none;
  transition: transform 0.5s ease;
}

.icon:hover {
  transform: scale(0.9);
}

.arrow {
  flex: 0 1 75px;
  background-image: url("https://zephyo.github.io/22Days/code/3/graphics/arrow.svg");
}

.right {
  transform: rotate(180deg);
}

.right:hover {
  transform: scale(0.9) rotate(180deg);
}

.close {
  background-image: url("https://zephyo.github.io/22Days/code/3/graphics/close.svg");
  position: absolute;
  top: 5px;
  right: 10px;
}

@media only screen and (max-aspect-ratio: 4/7) and (max-width: 600px) {
  .profile {
    margin: 3%;
    height: 97%;
  }
  .container {
    height: 86%;
    flex-direction: column;
  }
  .profile-image {
    height: 40%;
    width: calc(100% - 90px);
  }
  .profile-bg {
    width: 100%;
  }
  h1.first-name {
    left: 10px;
  }
  h1.second-name {
    left: 60px;
  }
}

@media screen and (min-aspect-ratio: 4/7) {
  .profile {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes loadProfile {
 from{
    transform: translateY(100px);
    opacity: 0;
  }
 to {
     transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes loadProfileImage {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
 to {
     transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes titleEffect {
 from {
   opacity:0;
     transform: translateX(-75px);
  }
  to {
     transform: translateX(0px);
    opacity: 1;
  }
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

 a {
	 text-decoration: none;
}
 h1 {
	 font-family: 'Open Sans', sans-serif;
	 font-weight: 300;
}


 .card .menu-content {
	 margin: 0;
	 padding: 0;
	 list-style-type: none;
}
 .card .menu-content::before, .card .menu-content::after {
	 content: '';
	 display: table;
}
 .card .menu-content::after {
	 clear: both;
}
 .card .menu-content li {
	 display: inline-block;
}
 .card .menu-content a {
	 color: #fff;
}
 .card .menu-content span {
	 position: absolute;
	 left: 50%;
	 top: 0;
	 font-size: 10px;
	 font-weight: 700;
	 font-family: 'Open Sans';
	 transform: translate(-50%, 0);
}
 .card .wrapper {
	 background-color: #fff;
	 min-height: 540px;	 
   min-width: 440px;
	 position: relative;
	 overflow: hidden;
	 box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
   margin: 50px;
}
 .card .wrapper:hover .data {
	 transform: translateY(0);
}
 .card .data {
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 transform: translateY(calc(70px + 1em));
	 transition: transform 0.3s;
}
 .card .data .content {
	 padding: 1em;
	 position: relative;
	 z-index: 1;
}
 .card .author {
	 font-size: 12px;
}
 .card .title {
	 margin-top: 10px;
}
 .card .text {
	 height: 70px;
	 margin: 0;
}
 .card input[type='checkbox'] {
	 display: none;
}
 .card input[type='checkbox']:checked + .menu-content {
	 transform: translateY(-60px);
}

 .example-2 .wrapper {
	 background: url(https://images.unsplash.com/photo-1515668166700-4c11137632fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80) center / cover no-repeat;
   
}
 .example-2 .wrapper:hover .menu-content span {
	 transform: translate(-50%, -10px);
	 opacity: 1;
}
 .example-2 .header {
	 color: #fff;
	 padding: 1em;
}
 .example-2 .header::before, .example-2 .header::after {
	 content: '';
	 display: table;
}
 .example-2 .header::after {
	 clear: both;
}
 .example-2 .header .date {
	 float: left;
	 font-size: 12px;
}
 .example-2 .menu-content {
	 float: right;
}
 .example-2 .menu-content li {
	 margin: 0 5px;
	 position: relative;
}
 .example-2 .menu-content span {
	 transition: all 0.3s;
	 opacity: 0;
}
 .example-2 .data {
	 color: #fff;
	 transform: translateY(calc(70px + 4em));
}
 .example-2 .title a {
	 color: #fff;
}
 .example-2 .button {
	 display: block;
	 width: 100px;
	 margin: 2em auto 1em;
	 text-align: center;
	 font-size: 12px;
	 color: #fff;
	 line-height: 1;
	 position: relative;
	 font-weight: 700;
}
 .example-2 .button::after {
	 content: '\2192';
	 opacity: 0;
	 position: absolute;
	 right: 0;
	 top: 50%;
	 transform: translate(0, -50%);
	 transition: all 0.3s;
}
 .example-2 .button:hover::after {
	 transform: translate(5px, -50%);
	 opacity: 1;
}
 

.profile-image img {
  border-radius: 50%;
}

.gallery1 {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.gallery-item1 {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.singlerestpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.backlink {
  text-decoration: none;
  margin: 30px;
  color: lightblue;
  text-align: center;
}


.info {
  display: flex;
  direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: lightblue solid 5px;
  border-radius: 25px;
  padding: 10px
}

#categories{
  overflow:hidden;
  width:70%;
  margin:0 auto;
}
.clr:after{
  content:"";
  display:block;
  clear:both;
}
#categories li{

  position:relative;
  list-style-type:none;
  width:27.85714285714286%; /* = (100-2.5) / 3.5 */
  padding-bottom: 32.16760145166612%; /* =  width /0.866 */
  float:left;
  overflow:hidden;
  visibility:hidden;
 
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(3n+2){
  margin:0 1%;
}
#categories li:nth-child(6n+4){
  margin-left:0.5%;
}
#categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
	margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
  margin-bottom:0%;
}
#categories li *{
  margin:0;
  padding:0;
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  
	-webkit-backface-visibility:hidden;
  
}

/* HEX CONTENT */
#categories li img{
  left:-100%; right:-100%;
  width: auto; height:100%;
  margin:0 auto;   
}

#categories div h1, #categories div p{
  width:90%;
  padding:0 5%;
  background-color:rgb(68, 210, 210); background-color: rgba(68, 210, 210, 0.8);
  font-family: 'Raleway', sans-serif;
  
  -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1{
  bottom:110%;
  font-style:italic;
  font-weight:normal;
  font-size:1.5em;
  padding-top:100%;
  padding-bottom:100%;
}
#categories li h1:after{
	content:'';
  display:block;
  position:absolute;
  bottom:-1px; left:45%;
  width:10%;
  text-align:center;
  z-index:1;
  border-bottom:2px solid #fff;
}
#categories li p{
	padding-top:50%;
	top:110%;
	padding-bottom:50%;
}


/* HOVER EFFECT  */

#categories li div:hover h1 {
  bottom:50%;
  padding-bottom:10%;
}

#categories li div:hover p{
  top:50%;
  padding-top:10%;
}
#fork{
 text-align: center;
  color:#000;
  text-decoration:none;
  padding:.5em .7em;
  margin:1%;
  transition: color .5s;
  overflow:hidden;
}
#fork:before {
  text-align: center;
  width: 130%; height: 100%;
  background: #000;
  z-index: -1;
  transform-origin:0 0 ;
  transform:translateX(-100%) skewX(-45deg);
  transition: transform .5s;
}
#fork:hover {
  color: #fff;
}
/* #fork:hover:before {
  transform: translateX(0) skewX(-45deg);
} */

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}

/* Helpers */
/**************************/
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {font-family:'Oswald', sans-serif; font-size:24px; font-weight:400; text-transform: uppercase; color:black; padding:0; margin:0;}
#parallax-world-of-ugg h2 {font-family:'Oswald', sans-serif; font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}
#parallax-world-of-ugg h3 {font-family:'Oswald', sans-serif; font-size:14px; line-height:0; font-weight:400; letter-spacing:8px; text-transform: uppercase; color:black;}
#parallax-world-of-ugg p {font-family:'Source Sans Pro', sans-serif; font-weight:400; font-size:14px; line-height:24px;}
.first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {background: white; padding: 60px; margin:0 auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:35px; letter-spacing:8px;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.unsplash.com/photo-1415018255745-0ec3f7aee47b?dpr=1&auto=format&fit=crop&w=1500&h=938&q=80&cs=tinysrgb&crop=); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.unsplash.com/photo-1432163230927-a32e4fd5a326?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#parallax-world-of-ugg .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
}



.container11{
  position:absolute;
}
.title11{
  width: 600px;
  font-weight: 400;
  color: transparent;
  font-size:120px;
  background: url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=911&q=80") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  line-height:90px;
  letter-spacing: -8px;
}

.glitch {
  color: black;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}
@keyframes noise-anim {
  0% {
    clip: rect(53px, 9999px, 54px, 0);
 }
  5% {
    clip: rect(95px, 9999px, 58px, 0);
 }
  10% {
    clip: rect(32px, 9999px, 3px, 0);
 }
  15% {
    clip: rect(19px, 9999px, 13px, 0);
 }
  20% {
    clip: rect(98px, 9999px, 98px, 0);
 }
  25% {
    clip: rect(35px, 9999px, 81px, 0);
 }
  30% {
    clip: rect(31px, 9999px, 27px, 0);
 }
  35% {
    clip: rect(44px, 9999px, 20px, 0);
 }
  40% {
    clip: rect(76px, 9999px, 98px, 0);
 }
  45% {
    clip: rect(7px, 9999px, 66px, 0);
 }
  50% {
    clip: rect(73px, 9999px, 65px, 0);
 }
  55% {
    clip: rect(94px, 9999px, 6px, 0);
 }
  60% {
    clip: rect(55px, 9999px, 15px, 0);
 }
  65% {
    clip: rect(64px, 9999px, 76px, 0);
 }
  70% {
    clip: rect(99px, 9999px, 94px, 0);
 }
  75% {
    clip: rect(47px, 9999px, 40px, 0);
 }
  80% {
    clip: rect(49px, 9999px, 9px, 0);
 }
  85% {
    clip: rect(93px, 9999px, 89px, 0);
 }
  90% {
    clip: rect(35px, 9999px, 67px, 0);
 }
  95% {
    clip: rect(78px, 9999px, 89px, 0);
 }
  100% {
    clip: rect(6px, 9999px, 26px, 0);
 }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(42px, 9999px, 57px, 0);
 }
  5% {
    clip: rect(97px, 9999px, 51px, 0);
 }
  10% {
    clip: rect(57px, 9999px, 85px, 0);
 }
  15% {
    clip: rect(71px, 9999px, 95px, 0);
 }
  20% {
    clip: rect(85px, 9999px, 44px, 0);
 }
  25% {
    clip: rect(5px, 9999px, 77px, 0);
 }
  30% {
    clip: rect(29px, 9999px, 5px, 0);
 }
  35% {
    clip: rect(85px, 9999px, 93px, 0);
 }
  40% {
    clip: rect(89px, 9999px, 10px, 0);
 }
  45% {
    clip: rect(25px, 9999px, 88px, 0);
 }
  50% {
    clip: rect(5px, 9999px, 62px, 0);
 }
  55% {
    clip: rect(29px, 9999px, 74px, 0);
 }
  60% {
    clip: rect(44px, 9999px, 48px, 0);
 }
  65% {
    clip: rect(75px, 9999px, 38px, 0);
 }
  70% {
    clip: rect(83px, 9999px, 4px, 0);
 }
  75% {
    clip: rect(27px, 9999px, 20px, 0);
 }
  80% {
    clip: rect(10px, 9999px, 94px, 0);
 }
  85% {
    clip: rect(33px, 9999px, 81px, 0);
 }
  90% {
    clip: rect(70px, 9999px, 44px, 0);
 }
  95% {
    clip: rect(25px, 9999px, 66px, 0);
 }
  100% {
    clip: rect(74px, 9999px, 19px, 0);
 }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

/* footer */


.grid{
bottom: 0;}
 
.grid a {
	 color: #787878;
	 text-decoration: none;
	 transition: all 0.2s ease;
}
.grid a:hover {
	 color: #2e2e2e;
}
.grid a.active {
	 color: #2e2e2e;
}
 
 .social, .copyright {
	 margin: 1rem;
   color: #2e2e2e;

}
 .social li {
	 display: inline-block;
}
 footer {
	 padding: 1rem 0;
	 background: #f7f7f7;
	 text-align: center;
}
 

/* 404 2 */


@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');

@-moz-keyframes rocket-movement { 100% {-moz-transform: translate(1200px,-600px);} }
@-webkit-keyframes rocket-movement {100% {-webkit-transform: translate(1200px,-600px); } }
@keyframes rocket-movement { 100% {transform: translate(1200px,-600px);} }
@-moz-keyframes spin-earth { 100% { -moz-transform: rotate(-360deg); transition: transform 20s;  } }
@-webkit-keyframes spin-earth { 100% { -webkit-transform: rotate(-360deg); transition: transform 20s;  } }
@keyframes spin-earth{ 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); transition: transform 20s; } }

@-moz-keyframes move-astronaut {
    100% { -moz-transform: translate(-160px, -160px);}
}
@-webkit-keyframes move-astronaut {
    100% { -webkit-transform: translate(-160px, -160px);}
}
@keyframes move-astronaut{
    100% { -webkit-transform: translate(-160px, -160px); transform:translate(-160px, -160px); }
}
@-moz-keyframes rotate-astronaut {
    100% { -moz-transform: rotate(-720deg);}
}
@-webkit-keyframes rotate-astronaut {
    100% { -webkit-transform: rotate(-720deg);}
}
@keyframes rotate-astronaut{
    100% { -webkit-transform: rotate(-720deg); transform:rotate(-720deg); }
}

@-moz-keyframes glow-star {
    40% { -moz-opacity: 0.3;}
    90%,100% { -moz-opacity: 1; -moz-transform: scale(1.2);}
}
@-webkit-keyframes glow-star {
    40% { -webkit-opacity: 0.3;}
    90%,100% { -webkit-opacity: 1; -webkit-transform: scale(1.2);}
}
@keyframes glow-star{
    40% { -webkit-opacity: 0.3; opacity: 0.3;  }
    90%,100% { -webkit-opacity: 1; opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); border-radius: 999999px;}
}

.spin-earth-on-hover{
    
    transition: ease 200s !important;
    transform: rotate(-3600deg) !important;
}

/* html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;

} */

.bg-purple{
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  background-repeat: repeat-x;
    background-size: cover;
    background-position: left top;
    height: 100%;
    overflow: hidden;
    
}

.custom-navbar{
    padding-top: 15px;
}

.brand-logo{
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;
}


.btn-request{
    padding: 10px 25px;
    border: 1px solid #FFCB39;
    border-radius: 100px;
    font-weight: 400;
}

.btn-request:hover{
    background-color: #FFCB39;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

.btn-go-home{
    position: relative;
    z-index: 200;
    margin: 15px auto;
    width: 100px;
    padding: 10px 15px;
    border: 1px solid #FFCB39;
    border-radius: 100px;
    font-weight: 400;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 11px;
    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.btn-go-home:hover{
    background-color: #FFCB39;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

.central-body{
/*    width: 100%;*/
    padding: 17% 5% 10% 5%;
    text-align: center;
}

.objects img{
    z-index: 90;
    pointer-events: none;
}

.object_rocket{
    z-index: 95;
    position: absolute;
    transform: translateX(-50px);
    top: 75%;
    pointer-events: none;
    animation: rocket-movement 30s linear infinite both running;
}

.object_earth{
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 1;
/*    animation: spin-earth 100s infinite linear both;*/
}

.object_moon{
    position: absolute;
    top: 12%;
    left: 25%;
/*
    transform: rotate(0deg);
    transition: transform ease-in 99999999999s;
*/
}


.object_astronaut{
    animation: rotate-astronaut 100s infinite linear both alternate;
}

.box_astronaut{
    z-index: 110 !important;
    position: absolute;
    top: 60%;
    right: 20%;
    will-change: transform;
    animation: move-astronaut 50s infinite linear both alternate;
}

.image-404{
    position: relative;
    z-index: 100;
    pointer-events: none;
}

.stars{
    background: url(http://salehriaz.com/404Page/img/overlay_stars.svg);
    background-repeat: repeat;
    background-size: contain;
    background-position: left top;
}

.glowing_stars .star{
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    width: 3px;
    height: 3px;
    opacity: 0.3;
    will-change: opacity;
}

.glowing_stars .star:nth-child(1){
    top: 80%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 1s;
}
.glowing_stars .star:nth-child(2){
    top: 20%;
    left: 40%;
    animation: glow-star 2s infinite ease-in-out alternate 3s;
}
.glowing_stars .star:nth-child(3){
    top: 25%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 5s;
}
.glowing_stars .star:nth-child(4){
    top: 75%;
    left: 80%;
    animation: glow-star 2s infinite ease-in-out alternate 7s;
}
.glowing_stars .star:nth-child(5){
    top: 90%;
    left: 50%;
    animation: glow-star 2s infinite ease-in-out alternate 9s;
}

@media only screen and (max-width: 600px){
    .navbar-links{
        display: none;
    }
    
    .custom-navbar{
        text-align: center;
    }
    
    .brand-logo img{
        width: 120px;
    }
    
    .box_astronaut{
        top: 70%;
    }
    
    .central-body{
        padding-top: 25%;
    }
}
 





